# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out
dist

# Environment variables (will be passed via docker-compose or build args)
.env
.env*.local

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
*.log

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
README.md
docs
scratch.txt
